extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About 33TO1
        p Billed as “The World’s Greatest College Weekend,” the Little 500 is the largest collegiate bike race in the United States. Modeled after the Indianapolis 500, riders compete in four-person teams around a quarter-mile cinder track at Bill Armstrong Stadium. The men’s race is 200 laps (50 miles) and the women’s race is 100 laps (25 miles).

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Sign Up for Discussion Board
